body {
  margin: 0;

  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero-el {
  background-color: #e0eaf3;
}

/*
hamburger menu
*/

li {
  list-style: none;
}
.nav-item > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: auto;
  padding-top: 30px;
}
.navbar-btn {
  border: none;
  background-color: #f86642;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.navbar-btn:hover {
  background-color: #292526;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: #f86642;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #292526;
}

@media (max-width: 1000px) {
  .hamburger {
    display: block;
  }

  .nav-menu {
   display: none;
  }



  .navbar-btn:hover {
    background-color: #e0eaf3;
    color: #f86642;
  }

  .ham-items {
    background-color: #292526;
    text-align: center;
    padding: 20px;
  }
  .ham-items > li {
    padding: 10px;

  }
  .ham-items > li :hover {
    color: #f86642;
  }
  .routes {
    text-decoration: none;
    color: #e0eaf3;
    font-weight: bold;
  }

  
}

.navbar-btn {
  border: none;
  background-color: #f86642;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}

.hero-text {
  font-size: 6vmin;
  line-height: 7vmin;
  text-align: center;
  max-width: 70%;
  margin: auto;
  padding-top: 40px;
}

.hero-text > span {
  color: #f86642;
}

.hero-features-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max-content, 250px));
  justify-content: space-between;
  max-width: 60%;
  margin: auto;
  padding-top: 10px;
}

.hero-features {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.hero-features > img {
  margin-right: 10px;
}
.flex-div {
  display: flex;
}

.hero-btn {
  border: none;
  background-color: #f86642;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}

.hero-img {
  max-width: 70vw;
}

.companies {
  background-color: #292526;
  text-align: center;
}

.comp-text {
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-top: 55px;
  color: white;
}

.comp-text > span {
  color: #f86642;
}

.head {
  max-width: 55%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  font-size: 4vmin;
}
.head > span {
  color: #f86642;
}

.quote {
  max-width: 55%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  font-weight: 500;
  font-size: 2vmin;
}

.card-container {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 350px));
  justify-content: center;
  max-width: 80%;
  margin: auto;
  padding-top: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 10px;
}

.card > p {
  max-width: 80%;
  text-align: center;
}
